* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden; /* Evita desplazamiento horizontal */
}

.contenedor {
    position: relative;
    width: 100%;
    height: auto;
}

/* Imagen SIEMPRE cubriendo toda la altura de la pantalla */
.imgMenu {
    position: fixed;
    height:  0; /* Pegada al lado derecho */
    top: 0;
    width: 50vw; /* Por defecto, ocupa el 50% del ancho de la pantalla */
    height: 100vh; /*  Ocupar toda la altura de la pantalla */
    object-fit: cover; /* Asegura que se cubra sin deformarse */
    transition: width 0.3s ease-in-out; /* Suaviza los cambios */
}

.pmenu {
    color: #878780;
    font-family: italic;
    font-size: 15px;
}

.menuCalificate {
    display: flex;
    gap: 12px;
}

.h3Menu {
    color: #ffffff;
    font-family: initial;
    font-size: 48px;
}

.menuTexBoder {
    position: absolute;
    color: white;
    background: rgba(0, 0, 0, 0.871);
    border-radius: 5px;
    text-align: center;
    transition: all 0.3s ease; /* Suaviza los cambios */
    
    z-index: 1000; /* Asegura que esté sobre otros elementos */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Mejor contraste */
    backdrop-filter: blur(5px); /* Efecto de vidrio esmerilado */
    max-width: 500px; /* Tamaño máximo */
    min-width: 200px; /* Tamaño mínimo */
}
